In [2]:
import requests
import json
import pandas as pd

In [81]:
# Search parameters - API limits request to 10 years and 25 series at a time.
series_ids = ['CUUR0000SA0','SUUR0000SA0']
start_year = 2010
end_year = 2019

In [1]:
# Build message to send to API.
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": series_ids,"startyear":start_year, "endyear":end_year})
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)

# Parse results.
j = json.loads(p.text)
dfs = []
for x in range(0,len(j["Results"]['series'])):
    t_df = pd.DataFrame(j["Results"]['series'][x]['data'])
    t_df['series'] = j["Results"]['series'][x]['seriesID']
    dfs.append(t_df)
df = pd.concat(dfs)

# Variable df holds a concatenated DataFrame of all series, and dfs holds a list of each series as an individual DataFrame.

NameError: name 'json' is not defined

In [79]:
# Check result.
df.head()

   year period periodName    value footnotes       series
0  2019    M12   December  256.974      [{}]  CUUR0000SA0
1  2019    M11   November  257.208      [{}]  CUUR0000SA0
2  2019    M10    October  257.346      [{}]  CUUR0000SA0
3  2019    M09  September  256.759      [{}]  CUUR0000SA0
4  2019    M08     August  256.558      [{}]  CUUR0000SA0